name: Documentation

on:
  push:
    branches: ["docs"]  # Se ejecuta cuando haces push a la rama 'docs'
  workflow_dispatch:

# Permisos necesarios para desplegar en GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Instala las dependencias de documentación y tu librería si es necesario
          pip install sphinx sphinx-book-theme myst-parser
          # Si tienes un requirements.txt, descomenta la siguiente línea:
          # pip install -r requirements.txt
          # Instalamos el paquete actual en modo editable para que Sphinx encuentre la versión
          pip install -e .

      - name: Build Sphinx
        run: |
          sphinx-build -b html docs docs/_build/html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_build/html

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4